.stepOne {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form {
  align-self: center;
  width: 680px;
}

.form_label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: flex-start;
  color: #333333;
  margin-bottom: 8px;
}

.form_message {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.48);
  margin: 24px;
}

.form_input {
  width: 300px;
  height: 44px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: black;
  padding: 12px;
  margin-bottom: 8px;
}
.form_input::placeholder {
  color: rgba(0, 0, 0, 0.48);
}

.form_select {
  width: 300px;
  height: 44px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 88px;
}

.form_btn__place {
  margin-top: 64px;
  width: 680px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form_label__checkbox {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
}
.form_input__checkbox {
  margin-right: 8px;
}

.form_about {
  position: relative;
}

.form_about__text {
  width: 680px;
  height: 84px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.48);
}

.form_about__counter {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: rgba(0, 0, 0, 0.48);
  font-size: 10px;
}

.btn_delete {
  width: 20px;
  height: 19px;
  background-color: #ffffff;
  background-image: url(../../assets/Delete.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  margin-left: 16px;
}

.btn_back {
  padding: 12px;
  border: 1.5px solid #5558fa;
  border-radius: 4px;
  background-color: #ffffff;
  color: #5558fa;
  text-align: center;
}

.btn_back:hover {
  transform: scale(1.02);
}

.form_group{
  margin-top: 24px;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.form_checkbox{
  display: flex;
  flex-direction: row;
}

@media (width: 320px) {
  .form {
    width: 298px;
  } 

  .form_btn__place {

    width: 298px;
  }

  .form_about__text {
    width: 298px;
  }

 }



 @media (min-width: 321px) and (max-width: 767px) {
  .form {
    width: 310px;
  } 

  .form_btn__place {

    width: 310px;
  }

  .form_about__text {
    width: 310px;
  }

 }

