.progress {
  width: 680px;
  height: 48px;
  margin-bottom: 70px;
  align-self: center;
}


@media (width: 320px) { 
  .progress{
    width: 295px;
  }
 }


 @media (min-width: 321px) and (max-width: 767px)  {
  .progress{
    width: 310px;
  }
 }